.connect-wallet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 550px;
}

.connect-wallet-container img {
    padding: 20px;
    width: 60%;
    border-radius: 15%;
}

.connect-wallet-button {
    background-image: linear-gradient(
      to right,
      #ff8177 0%,
      #ff867a 0%,
      #ff8c7f 21%,
      #f99185 52%,
      #cf556c 78%,
      #b12a5b 100%
    );
    background-size: 200% 200%;
    width: 60%;
    animation: gradient-animation 4s ease infinite;
  }